@import 'global';
@import 'vars';
@import 'fonts';

// start header 
.header {
  min-height: 80vh;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header__logo {
    position: relative;
    padding: 15px 0;

    a {

      img {
        width: 110px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: #fff;
      width: 90%;
      margin: 0 5%;
      bottom: 0;
    }
  }
}

.header__welcome-text {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 160px;
  padding-bottom: 85px;
}

.welcome-text__title {
  font-size: 50px;
  width: 81%;
  @include f700
}

.welcome-text__desc {
  margin-top: 20px;
  font-size: 15px;
  @include f500
}

// end header 
// start any-questions 

.any-questions {
  height: 300px;
  background-color: $orange;
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  .any-questions__wrapper {
    min-width: 60vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .any-questions__text {
    color: #fff;
    font-size: 33px;
    font-weight: 100;
    max-width: 60%;
    @include f400;

    span {
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;
      @include f100;
    }
  }

  .any-questions__btn {
    border: 2px solid black;
    padding: 12px 25px;
    font-size: 23px;
    cursor: pointer;

    &:hover {
      border: none;
      padding: 12px 27px;
      ;
    }
  }
}

// end any-questions 
// product-benefits start 

.product-benefits {
  margin-bottom: 70px;

  .product-benefits__title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    @include f700;
    text-transform: uppercase;
    margin-bottom: 70px;
  }

  .product-benefits__slider-wrapper {
    width: 100%;
  }

  .product-benefits__slider-item {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 500px;

  }

  .product-benefits__slider-wrapper {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      top: 10px;
      left: 14%;
      border-top: 10px solid $orange;
      border-left: 10px solid $orange;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 10px;
      right: 16%;
      border-bottom: 10px solid $orange;
      border-right: 10px solid $orange;
      z-index: 1;
    }
  }

  .product-benefits__slider-inner {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-benefits__slider-itembox {
    font-size: 34px;
    @include f500;
    min-height: 500px;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 0;
    width: 80%;
    text-transform: uppercase;
    position: relative;
    margin: 0;


    span {
      font-size: 21px;
      @include f400;
      text-transform: lowercase;
    }

    .slider-itembox__list {
      li+li {
        margin-top: 5px;
      }
    }


  }
}

.custom_arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: inherit;
}

.custom_arrow-next {
  border: none;
  cursor: pointer;
  background-image: url('../images/slider_arrow.svg');
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
  right: 15%;
}

.custom_arrow-prev {
  border: none;
  cursor: pointer;
  background-image: url('../images/slider_arrow.svg');
  transform: rotate(-90deg);
  width: 40px;
  height: 40px;
  left: 13%;
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 7px;
  width: 100%;
  justify-content: center;



  li {
    button {
      border: none;
      background-color: transparent;
      font-size: 0;
      background-color: #fff;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &+li {
      margin-left: 4px;
    }
  }

  li.slick-active {
    button {
      background-color: $orange;
    }
  }
}

// product-benefits end 
// start technologies 

.technologies {
  margin-bottom: 70px;
}

.technologies__title {
  text-align: center;
  margin-bottom: 50px;
  @include f700;
  font-size: 40px;
  text-transform: uppercase;

  span {
    color: $orange;
  }
}

.technologies__inner-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

  .inner-desc__image {
    width: 10%;
  }

  .inner-desc__text {
    @include f500;
    font-size: 20px;
    padding: 10px;
    width: 75%;
  }
}



.technologies__inner-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.technologies__inner-block {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.technologies__inner-blockpict {
  background-image: url('../images/long-arrowsvg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include f700;
  font-size: 35px;
}

.technologies__inner-blocktext {
  padding: 9%;
  font-size: 22px;
  @include f400;

  span {
    @include f700;
  }
}




// end technologies 
// start ultraviolet 


.ultraviolet {
  background-color: #f2f2f2;

  .ultraviolet__title {
    width: 100%;
    text-align: center;
    @include f700;
    font-size: 45px;
    text-transform: uppercase;
    padding: 50px 10px;

    span {
      color: $orange;
    }
  }

  .ultraviolet__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ultraviolet__inner-item {
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .ultraviolet__inner-itempict {
    width: 20%;

    img {
      width: 100%;
    }
  }

  .ultraviolet__inner-text {
    width: 75%;
    padding: 0 30px 0 10px;
    @include f500;
  }
}

.ultraviolet__link-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @include f700;

}

.ultraviolet__link {
  width: 300px;
  padding-left: 100px;
  font-size: 20px;
  opacity: 0.6;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &:hover {
    opacity: 1;
    color: $orange;
  }

  &::before {
    content: '';
    background-image: url('../images/download.svg');
    width: 35px;
    height: 35px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 42px;
  }
}

// end ultraviolet 
// start production 
.production {
  margin-bottom: 70px;
}

.production__title {
  margin: 55px 0;
  text-align: center;
  @include f700;
  text-transform: uppercase;
  font-size: 50px;
}

.production__pict-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.production__pict-item {
  width: 30%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;

}

video.production__vider-src {
  width: 100%;
}

.production__vider-rwapper {
  width: 100%;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -2%;
    width: 50px;
    height: 50px;
    background-color: $orange;
    background-image: url('../images/play.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

}

// end production
// start footer 
.footer {
  min-height: 220px;
  background-color: #000;
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__item {
  max-width: 300px;
  width: 100%;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}

.footer__image {
  text-align: end;
  margin-right: 10px;

  img {
    width: 65px;
  }
}

.footer-item__title {
  color: $orange;
  @include f500;
  margin-bottom: 10px;
}

.footer__title {
  text-align: center;
  @include f700;
  font-size: 30px;
  padding: 35px 10px;
  text-transform: uppercase;
}

.footer_legal-information {
  text-align: center;
  @include f400;
  color: #fff;
  opacity: 0.6;
  padding: 40px;
  margin-top: 20px;
}



// end footer 